.body {
    width: 400px;
    margin: auto;
    
}

.header {
    display: flex;
    height: 60px;
    width: 100%;
    padding: 24px 48px;
    justify-content: space-between;
    align-items: center;
}


.aling1 {
   background-color: gray;
   width: 150px;
   height: 50px;

}

.img1 {
    width: 200px;
    height: 80px;
}

.aling2 {
   background-color: gray;
   width: 50px;
   height: 50px;
   border-radius: 100%;
}


.aling3 {
   height: 300px;
   width: 350px;
   margin: auto;
   margin-top: 20px;
}


.aling4 {
    height: 150px;
    width: 320px;
    margin: auto;
    margin-top: 10px;
}

.titulo {
    font-size: 16px;
    color: black;
    padding-left: 14px;
    margin-top: 2px;
}

.titulo1 {
    font-size: 14px;
    color: black;
    padding-left: 14px;
    margin: auto;
    margin-top: 2px;
    padding-right: 14px;
}

.img2 {
    margin: auto;
    height: 120px;
    width: 300px;
}

.aling5 {
    border: 1px solid black;
    width: 320px;
    height: 40px;
    margin: auto;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}